# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
# engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")
engine = create_engine("postgresql://postgres:postgres@localhost:5432/HW7")

In [45]:
def get_customer_transaction (in_custid='all'):
    #connect to database and retrieve customers transactions
    #get customer data
    # if in_custid = all, then retun all customers
    # otherwise return customer with matching id
    #read the data all card from database
    # put this in try
  
    query = """
    SELECT cc.cardholder_id as cardholder, tr.date as hour, tr.amount
    FROM credit_card cc
    Left join transaction tr
    ON (cc.card = tr.card); 
    """
    all_card_df = pd.read_sql(query, engine)
    if in_custid  == 'all':
        return all_card_df
    elif in_custid in range (all_card_df['cardholder'].min(), all_card_df['cardholder'].max()):
        # get matching id if it is in valid range.
        card_hold_df = all_card_df[all_card_df['cardholder'] == in_custid]
        return card_hold_df
    else:
        # empty datafram
        return (pd.DataFrame())

In [ ]:
#     do delete
#     query = """
#     SELECT cc.cardholder_id as cardholder, tr.date as hour, tr.amount
#     FROM credit_card cc
#     Left join transaction tr
#     ON (cc.card = tr.card)
#     where cc.cardholder_id = 2 ;    
#     """
#     card_hold_df = pd.read_sql(query, engine)

In [47]:
# to delete
cust_df = get_customer_transaction ()
mean_cust = cust_df['amount'].mean()
std_cust = cust_df['amount'].std()


outlier_df = cust_df.loc[(cust_df['amount'] > (mean_cust + 2 * std_cust)) | (cust_df['amount'] < (mean_cust - 2 * std_cust))]
outlier_df

cust_df['cardholder'].min()

1

In [33]:
# Write function that locates outliers using standard deviation
def find_anamoly (in_cust_id):
#     in_cardholder is the card holder id
#     function to make SQL sql query
#     retrieve transactions for that user
#     compute outliers for that customer.

# read the data from daabase.
# df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]
    cust_df = get_customer_transaction (in_cust_id)
    #find mean and mean and standard deve.
    mean_cust = cust_df['amount'].mean()
    std_cust = cust_df['amount'].std()
    #find anamolie
    outlier_df =  cust_df.loc[(cust_df['amount'] > (mean_cust + 2 * std_cust)) | (cust_df['amount'] < (mean_cust - 2 * std_cust))]
    
    return outlier_df

### to find three random card holder
#### find maximum and minimum card holder number 
#### generate 3 random numumber in range 
#### find get anamoly in that range

In [55]:
# Find anomalous transactions for 3 random card holders
all_card_holder_df = get_customer_transaction()

# get random sample in range of minumum cardholder id, and max cardholder id
card_holder_sample =  random.sample(range(all_card_holder_df['cardholder'].min(), all_card_holder_df['cardholder'].max() +1), k=3)

#loop thrugh range and print results
#perhaps I could write a different function to work the data frame instead?? 
#function already exists, so goal is to finish homework :) 
for car_holder in card_holder_sample:
    print (f"anamolies for cardhoder {car_holder}\n")
    print(find_anamoly(car_holder))

anamolies for cardhoder 6

      cardholder                hour  amount
62             6 2018-01-08 02:34:32  1029.0
563            6 2018-02-27 15:27:32  1145.0
1109           6 2018-04-21 19:41:51  2108.0
1796           6 2018-07-03 14:56:36  1398.0
2017           6 2018-07-24 22:42:00  1108.0
2117           6 2018-08-05 01:06:38  1379.0
2360           6 2018-09-02 06:17:00  2001.0
2432           6 2018-09-11 15:16:47  1856.0
3190           6 2018-11-27 17:20:29  1279.0
anamolies for cardhoder 16

      cardholder                hour  amount
212           16 2018-01-22 08:07:03  1131.0
457           16 2018-02-17 01:27:19  1430.0
625           16 2018-03-05 08:26:08  1617.0
1454          16 2018-05-29 02:55:08  1203.0
1638          16 2018-06-17 15:59:45  1103.0
2043          16 2018-07-26 23:02:51  1803.0
3067          16 2018-11-13 17:07:25  1911.0
3237          16 2018-12-03 02:38:52  1014.0
3429          16 2018-12-24 15:55:06  1634.0
anamolies for cardhoder 7

      cardholder                hour  amount
27             7 2018-01-04 03:05:18  1685.0
484            7 2018-02-19 16:00:43  1072.0
1079           7 2018-04-18 23:23:29  1086.0
2142           7 2018-08-07 11:07:32  1449.0
3327           7 2018-12-13 15:51:59  2249.0
3379           7 2018-12-18 17:20:33  1296.0

In [36]:
# delete debug code.
# outlier_df = find_anamoly(18)
# outlier_df

      cardholder                hour  amount
487           18 2018-02-19 22:48:25  1839.0
925           18 2018-04-03 03:23:37  1077.0
1508          18 2018-06-03 20:02:28  1814.0
1956          18 2018-07-18 09:19:08   974.0
2425          18 2018-09-10 22:49:41  1176.0
3095          18 2018-11-17 05:30:43  1769.0
3324          18 2018-12-13 12:09:58  1154.0

In [ ]:
# delete
# Find anomalous transactions for 3 random card holders

## Identifying Outliers Using Interquartile Range

In [61]:
# Write a function that locates outliers using interquartile range
# q25, q75 = percentile(data, 25), percentile(data, 75)
def find_int_quart_anamoly (in_cust_id):
#     in_cardholder is the card holder id
#     function to make SQL sql query
#     retrieve transactions for that user
#     compute outliers for that customer.

# read the data from daabase.
# df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]
    cust_df = get_customer_transaction (in_cust_id)
    #find mean and mean and standard deve.
    q5, q95 = np.percentile(cust_df['amount'], 5), np.percentile(cust_df['amount'], 95)
#     mean_cust = cust_df['amount'].mean()
#     std_cust = cust_df['amount'].std()
    #find anamolie
    outlier_df =  cust_df.loc[(cust_df['amount'] > (q95)) | (cust_df['amount'] < (q5))]
    
    return outlier_df

In [ ]:
# Write a function that locates outliers using interquartile range

In [62]:
# Find anomalous transactions for 3 random card holders
all_card_holder_df = get_customer_transaction()

# get random sample in range of minumum cardholder id, and max cardholder id
card_holder_sample =  random.sample(range(all_card_holder_df['cardholder'].min(), all_card_holder_df['cardholder'].max() +1), k=3)

#loop thrugh range and print results
#perhaps I could write a different function to work the data frame instead?? 
#function already exists, so goal is to finish homework :) 
for car_holder in card_holder_sample:
    print (f"interquartile anamolies for cardhoder {car_holder}\n")
    print(find_int_quart_anamoly(car_holder))

interquartile anamolies for cardhoder 17

      cardholder                hour  amount
267           17 2018-01-28 19:30:38    0.72
712           17 2018-03-12 05:29:57   22.49
1089          17 2018-04-19 22:50:46    1.92
2061          17 2018-07-28 21:24:13    1.75
2125          17 2018-08-05 20:20:23   18.67
2341          17 2018-08-31 00:26:28   20.42
interquartile anamolies for cardhoder 21

      cardholder                hour  amount
779           21 2018-03-18 22:43:09   20.38
1034          21 2018-04-13 18:15:02   19.60
1919          21 2018-07-14 19:07:59    1.14
2247          21 2018-08-18 15:34:57    1.56
2540          21 2018-09-22 16:17:08    0.83
2630          21 2018-10-01 14:17:10    1.31
2688          21 2018-10-06 18:18:03   20.69
3158          21 2018-11-23 22:58:40   20.09
interquartile anamolies for cardhoder 20

      cardholder                hour  amount
49            20 2018-01-06 08:42:50   18.72
108           20 2018-01-12 23:38:53    1.10
121           20 2018-01-14 06:19:11   21.11
566           20 2018-02-28 04:36:28    1.41
663           20 2018-03-08 18:56:27    1.32
665           20 2018-03-08 20:28:05   18.21
1039          20 2018-04-14 06:14:30   19.12
1236          20 2018-05-05 23:31:16    1.12
1287          20 2018-05-11 12:43:50   20.56
1547          20 2018-06-07 08:58:28    1.41
1695          20 2018-06-23 06:43:47   19.67
1918          20 2018-07-14 17:44:09    0.53
1949          20 2018-07-17 22:11:50    0.52
1987          20 2018-07-21 23:12:46    1.42
2183          20 2018-08-11 17:27:43   18.76
2239          20 2018-08-18 02:28:07   19.50
2297          20 2018-08-26 07:15:18   23.13
2694          20 2018-10-07 08:16:54   20.44
2704          20 2018-10-07 18:42:39    1.40
3024          20 2018-11-09 19:38:36   20.27
3038          20 2018-11-11 04:17:33    1.47
3351          20 2018-12-16 09:38:32    1.39